* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    margin: auto;
    width: 65ch;
    flex-direction: column;
}

#todo-list{
    background-color: aquamarine;
    border: 1px solid ;
    margin:1rem;
    padding: 1rem;
}

#done-list{
    background-color: mediumspringgreen;
    margin: 1rem;
    border: 1px solid ;
    padding: 1rem;

}

